html, body {
	margin: 0px;
	padding: 0px;
	border: 0px;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	font-size: 12px;
}

.container{
    max-width: 375px;
    margin: 0 auto;
    background: #141414;
    border-radius: 27px;
    box-shadow: 10px 10px 20px 0px #A0A0A0;
    border: 2px solid #48494a;
}

.header{
    display: flex;
    height: 75px;
    font-size: 16px;
    color: #fff;
    background: linear-gradient(0deg, rgba(36,36,36,1) 0%, rgba(66,66,66,1) 100%);
    border-top-left-radius:25px;
    border-top-right-radius:25px;
    box-shadow: 0px 1px 0.5px 0px #000000;
}

h2 {
  margin: 25px;
  padding-left: 15px;
  font-size: 20px;
}

.column{
    width: 50%;
}

.contact-section{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1.5em;
}

.contact-section:hover{
  background-color: #48494a;
}

.contact-name{
    color: #fff;
    font-size: 1.2em;
    padding-left: 15px;
}

.contact-email{
    color:#636363;
    font-size: 1.2em;
    padding-left: 15px;
}

.contact-phone{
    color:#636363;
    font-size: 1.2em;
    padding-left: 15px;
    display:none; /* for switchContactType */

}

hr{
  border: 1px solid #292929;
}

.footer{
display: flex;
height: 75px;
justify-content: space-evenly;
color: #fff;
background: linear-gradient(0deg, rgba(66,66,66,1) 0%, rgba(36,36,36,1) 100%);
border-bottom-left-radius:25px;
border-bottom-right-radius:25px;
box-shadow: 0px -1px 0.5px 0px #000000;
}

/* hide contact info until js added */
.contact-info{
  display:none;
}

#contact-select{
  position: relative;
  left: 80px;
  top: 20px;
  display: inline-block;
  width: 120px;
  height: 34px;
}

/* styling for online status dots (toggle states in JS?) */
.dot {
  height: 10px;
  width: 10px;
  background-color: #bbb;
  border-radius: 50%;
  display: block;
  float: left;
  margin: 5px 20px 2px 10px;
}

.dot-active {
  height: 10px;
  width: 10px;
  background-color: #00ff1e;
  border-radius: 50%;
  display: block;
  float: left;
  margin: 5px 20px 2px 10px;
}

.dot-away {
  height: 10px;
  width: 10px;
  background-color:#fffc00;
  border-radius: 50%;
  display: block;
  float: left;
  margin: 5px 20px 2px 10px;
}

.dot-offline {
  height: 10px;
  width: 10px;
  background-color:#ff0000;
  border-radius: 50%;
  display: block;
  float: left;
  margin: 5px 20px 2px 10px;
}